body {
    background-color: #24353F;
}

.input-field {
    background-color: #24353F;
    width: 65%;
}

h1 {
    color: #17A2B8;
}

.form-control {

    background-color: #24353F;
    color: white;

}

input,
textarea {

    background-color: transparent !important;
    color: #fff !important;
}

a {
    text-decoration: none;
    color: white;
}

input::placeholder {

    opacity: 0.5;
    color: #ced4da !important;
}